 .shipping-options-form {
   width: 600px;
 }

 .shipping-options-info {
   width: 300px;
 }

 .link-like-text {
   color: blue;
   cursor: pointer;
 }

 .shipping-option-selector {
    width: 180px;
 }