/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.pid
*.pid.lock
*.seed
*.socket
.byebug_history
config/master.key
config/credentials.yml.enc
.env
.env.*
!.env.sample
/storage/*
!/storage/.keep
/db/*.sqlite3
/db/*.sqlite3-journal
node_modules/
yarn-debug.log*
npm-debug.log*
/coverage/
*.swp
.DS_Store